<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.aakumykov.simple_audio_recorder_module"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.github.aakumykov.simple_audio_recorder_module.recorder_service.RecorderService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>